$accent-color: #c2b5a3;
$accent-color-dark: #b2b2b2;
$main-color: #222;
$light-gray-color: #f7f7f7;
$text-color-white: #fff;

$font: 'Montserrat', Arial, sans-serif;

$transition: all 0.4s cubic-bezier(.42, .22, .42, 1);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xle: 1440px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1680px;
$breakpoint-3xl: 1920px;
$breakpoint-4xl: 2560px;

$padding-2xl: 90px;
$padding-xl: 80px;
$padding-lg: 60px;
$padding-md-left: 30px;
$padding-md-right: 15px;


@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}