.about {
    height: auto;
    min-height: 100vh;
    margin-top: -90px;
    padding-top: 210px;
    padding-bottom: 120px;

    &__text {
        max-width: 83.33333%;
    }


    @media (max-width: $breakpoint-2xl) {
        margin-top: -80px;
        padding-top: 200px;
    }

    @media (max-width: $breakpoint-xl) {
        margin-top: -60px;
        padding-top: 180px;
    }

    @media (max-width: $breakpoint-lg) {
        &__flex-row {
            gap: 60px;
        }
    }

    @media (max-width: $breakpoint-md) {
        &__text {
            max-width: 100%;
        }
    }
}