html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: $main-color;
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    color: $main-color;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

.main {
    position: relative;
    background-color: #fff;
}

.container {
    padding-left: $padding-2xl;
    padding-right: $padding-2xl;

    &_dark-grey {
        background-color: $main-color;
    }

    &_light-grey {
        background-color: $light-gray-color;
    }

    &__title-holder {
        max-width: 83.33333%;
        margin-left: auto;
        margin-right: auto;

        &.awards__title-holder {
            max-width: 66.66667%;
        }
    }

    @media (max-width: $breakpoint-2xl) {
        padding-left: $padding-xl;
        padding-right: $padding-xl;
    }

    @media (max-width: $breakpoint-xl) {
        padding-left: $padding-lg;
        padding-right: $padding-lg;
    }

    @media (max-width: $breakpoint-md) {
        padding-left: $padding-md-left;
        padding-right: $padding-md-right;

        &__title-holder {
            max-width: 100%;

        }
    }
}

.title-1,
.title-2,
.title-3,
.title-6 {
    letter-spacing: .08rem;
    font-weight: 700;
}

.title-6 {
    color: $accent-color;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;

    @media (max-width: $breakpoint-2xl) {
        font-size: 16px;
        line-height: 26px;
    }
}

.title-3 {
    font-size: 35px;
    line-height: 45px;
    color: $text-color-white;

    @media (max-width: $breakpoint-2xl) {
        font-size: 30px;
        line-height: 40px;
    }

    @media (max-width: $breakpoint-xl) {
        font-size: 24px;
        line-height: 34px;
    }
}

.title-2 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: .5rem;
    text-transform: uppercase;

    &_white {
        color: $text-color-white;
    }

    @media (max-width: $breakpoint-2xl) {
        font-size: 40px;
        line-height: 50px;
    }

    @media (max-width: $breakpoint-xl) {
        font-size: 28px;
        line-height: 38px;
    }

}

.title-1 {
    font-size: 65px;
    line-height: 75px;
    color: $text-color-white;
    margin-bottom: 40px;

    @media (max-width: $breakpoint-2xl) {
        font-size: 60px;
        line-height: 70px;
    }

    @media (max-width: $breakpoint-xle) {
        font-size: 50px;
        line-height: 60px;
    }

    @media (max-width: $breakpoint-xl) {
        font-size: 32px;
        line-height: 42px;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 32px;
        line-height: 42px;
    }
}

.text {
    font-size: 22px;
    line-height: 35px;
    font-weight: 400;
    margin-top: 3rem;
    color: $text-color-white;

    @media (max-width: $breakpoint-2xl) {
        font-size: 20px;
        line-height: 33px;
    }
}

.text-2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: $main-color;

    &_white {
        color: $text-color-white;
    }

    @media (max-width: $breakpoint-2xl) {
        font-size: 18px;
        line-height: 28px;
    }
}

.hr {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .2);
    margin-top: 72px;
    margin-bottom: 72px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    &__item_7 {
        flex: 0 0 calc(100%*7/12 - 15px);
        max-width: calc(100%/7*12 - 15px);
    }

    &__item_5 {
        flex: 0 0 calc(100%*5/12 - 15px);
        max-width: calc(100%*5/12 - 15px);
    }

    &__item_4 {
        flex: 0 0 calc(25% - 22.5px);
        max-width: calc(25% - 22.5px);
    }

    &__item_3 {
        flex: 0 0 calc(100%/3 - 20px);
        max-width: calc(100%/3 - 20px);
    }

    &__item_2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @media (max-width: $breakpoint-xl) {

        &__item_4 {
            flex: 0 0 calc(50% - 15px);
            max-width: calc(50% - 15px);
        }
    }

    @media (max-width: $breakpoint-lg) {

        &__item_3-lg {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &__item_3-md {
            flex: 0 0 calc(50% - 15px);
            max-width: calc(50% - 15px);
        }
    }

    @media (max-width: $breakpoint-md) {

        &__item_3-md,
        &__item_4 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

a {
    color: $accent-color;
    background-color: transparent;
    transition: $transition;

    &[href] {
        cursor: pointer;
    }

    &:hover {
        color: $accent-color-dark;
    }

}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.button {
    font-weight: 700;
    font-size: 1.05rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    padding: 0.5rem 2rem;
    line-height: 2.22rem;
    border-radius: 0;
    transition: $transition;
    @include flex-center();

    &_animatted {
        position: relative;
        z-index: 1;

        &::before {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 0;
            z-index: -1;
            content: '';
            transition: $transition;
        }

        &.button_accent-color::before {
            background-color: $text-color-white;
        }

        &.button_white-color::before {
            background-color: $main-color;
        }

        &.button_accent-color:hover {
            color: $main-color;
        }

        &.button_white-color:hover {
            color: $text-color-white;

            g,
            path {
                stroke: $text-color-white;
            }
        }

        &:hover {
            &::before {
                left: 0%;
                right: auto;
                width: 100%;
            }
        }
    }

    &_accent-color {
        color: $main-color;
        background-color: $accent-color;
    }

    &_white-color {
        color: $main-color;
        background-color: $text-color-white;
    }

    &__icon {

        g,
        path {
            transition: $transition;
            stroke: $main-color;
            fill: none;
        }

        path {
            stroke-width: 1;
        }

        &_white {

            g,
            path {
                stroke: $text-color-white;
            }
        }

        &_accent {

            g,
            path {
                stroke: $accent-color;
                stroke-width: 8;
            }
        }

        &-right {
            display: inline-block;
            height: 34px;
            margin-left: 1rem;
        }
    }

    &:hover {
        .button__icon_white {

            g,
            path {
                stroke: $accent-color;
            }
        }
    }

    @media (max-width: $breakpoint-2xl) {
        padding: 1rem 1.5rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }
}

.article {
    &__icon {
        height: 90px;
    }

    &__title {
        margin-top: 40px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: .08rem;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }

    &__text_white,
    &__title_white {
        color: $text-color-white;
    }

    @media (max-width: $breakpoint-2xl) {
        &__icon {
            height: 80px;
        }

        &__title {
            font-size: 20px;
            line-height: 30px;
        }

        &__text {
            font-size: 16px;
            line-height: 26px;
        }
    }

    @media (max-width: $breakpoint-xl) {
        &__title {
            font-size: 19px;
            line-height: 29px;
        }
    }
}