.projects {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;

    &__flex-row {
        margin-top: 4rem;
    }

    &-article {
        position: relative;
        overflow: hidden;
        padding-top: 125%;

        &::after {
            content: '';
            background-color: rgba(34, 34, 34, .2);
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 5;
        }

        &-link__content {
            position: absolute;
            width: 100%;
            z-index: 6;
            top: 0;
            left: 0;
            text-align: left;
            padding: 30px;
        }

        &-link__image {
            transition: $transition;
            transform: scale(1) rotate(0deg);
            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &-link__title,
        &-link__subtitle {
            text-transform: uppercase;
            letter-spacing: .08rem;
            color: $text-color-white;
        }

        &-link__title {
            font-size: 1rem;
            font-weight: 600;
            line-height: 45px;
            margin-bottom: 10px;
        }

        &-link__subtitle {
            font-size: 2rem;
            font-weight: 700;
            line-height: normal;
        }

        &:hover .projects-article-link__image {
            transform: scale(1.2) rotate(10deg);
        }
    }

    &__link {
        margin: 6rem auto 0 auto;
        display: inline-flex;
    }

    @media (max-width: $breakpoint-2xl) {
        padding-top: 80px;
        padding-bottom: 80px;

        &-article {
            &-link__title {
                line-height: 40px;
            }
        }
    }

    @media (max-width: $breakpoint-xl) {
        &-article {
            &-link__title {
                line-height: 34px;
            }

            &-link__subtitle {
                font-size: 1.8rem;
            }
        }
    }
}